@page "/recuperar-contrasena"
@layout NoLayout

@inject NavigationManager Navigation

@code
{
  [Parameter]
  [SupplyParameterFromQuery]
  public string? email { get; set; }

  [Parameter]
  [SupplyParameterFromQuery]
  public string? token { get; set; }

  protected override void OnInitialized()
  {
    if (string.IsNullOrWhiteSpace(email) || string.IsNullOrWhiteSpace(token))
    {
      Navigation.NavigateTo("/login", true);
    }
  }
}

@if (!string.IsNullOrWhiteSpace(email) && !string.IsNullOrWhiteSpace(token))
{
  <h3>Recuperar Contraseña</h3>
  <!-- Aquí va el formulario para cambiar la contraseña -->
}