<div class="bg-[rgba(0,0,0,0.4)] flex items-center justify-between px-3 h-14">
    <div class="container-fluid flex justify-between w-full">
        <h4 class="text-lg text-white" href="">Frontend</h4>
        <button title="Navigation menu" class="bg-[rgba(255,255,255,0.1)] p-2 rounded block sm:hidden"
            @onclick="ToggleNavMenu">
            <i class="fas fa-bars text-white"></i>
        </button>
    </div>
</div>

<div class="@(collapseNavMenu ? "block" : "hidden") sm:block" @onclick="ToggleNavMenu">
    <nav class="flex flex-col">
        <div class="py-2 px-3">
            <NavLink
                class="flex items-center text-white hover:bg-[rgba(255,255,255,0.1)] hover:text-white rounded h-12 px-3"
                href="/home" Match="NavLinkMatch.All">
                <i class="fas fa-home mr-3 w-5 h-5 custom-icon"></i>
                Home
            </NavLink>
        </div>

    </nav>
</div>

@code
{
    private bool collapseNavMenu = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}