<div class="bg-[rgba(0,0,0,0.4)] flex items-center justify-between px-3 h-29">
    <div class="container-fluid flex justify-between w-full">
        <img src="/Assets/Images/LogoScouts1.webp" alt="Logo" class="h-26 mx-auto" />
        <button title="Navigation menu" class="bg-[rgba(255,255,255,0.1)] p-2 rounded block sm:hidden"
            @onclick="ToggleNavMenu">
            <i class="fas fa-bars text-white"></i>
        </button>
    </div>
</div>

<div class="@(collapseNavMenu ? "block" : "hidden") sm:block">
    <nav class="flex flex-col">
        <!-- Home -->
        <div class="py-2 px-3">
            <NavLink
                class="flex items-center text-white hover:bg-[rgba(255,255,255,0.1)] hover:text-white rounded h-12 px-3"
                href="/home" Match="NavLinkMatch.All">
                <i class="fas fa-home mr-3 w-5 h-5 custom-icon"></i>
                Home
            </NavLink>
        </div>

        <!-- Productos -->
        <div class="py-2 px-3">
            <NavLink
                class="flex items-center text-white hover:bg-[rgba(255,255,255,0.1)] hover:text-white rounded h-12 px-3"
                href="/Productos" Match="NavLinkMatch.All">
                <i class="fa-solid fa-burger mr-3 w-5 h-5 custom-icon"></i>
                Productos
            </NavLink>
        </div>

        <!-- Realizar Orden -->
        <div class="py-2 px-3">
            <NavLink
                class="flex items-center text-white hover:bg-[rgba(255,255,255,0.1)] hover:text-white rounded h-12 px-3"
                href="/Realizar_Orden" Match="NavLinkMatch.All">
                <i class="fa-solid fa-cart-shopping mr-3 w-5 h-5 custom-icon"></i>
                Realizar Orden
            </NavLink>
        </div>
        <!-- Menú desplegable -->
        <div class="py-2 px-3">
            <button
                class="flex items-center justify-between w-full text-white hover:bg-[rgba(255,255,255,0.1)] hover:text-white rounded h-12 px-3 cursor-pointer"
                @onclick="ToggleDropdown">
                Más opciones
                <span
                    class="transition duration-200 transform @(showDropdown ? "rotate-90" : "rotate-0") flex justify-center items-center">
                    <i class="fas fa-chevron-right mr-3 w-5 h-5 custom-icon"></i>
                </span>
            </button>
            @if (showDropdown)
            {
                <div class="ml-8 mt-2">
                    <NavLink
                        class="flex items-center text-white hover:bg-[rgba(255,255,255,0.1)] hover:text-white rounded h-10 px-3"
                        href="/Productos/Historial">
                        <i class="fas fa-clock mr-3 w-5 h-5 custom-icon"></i>
                        Historial Productos
                    </NavLink>
                </div>
            }
        </div>
    </nav>
</div>

@code
{
    private bool collapseNavMenu = false;
    private bool showDropdown = false;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleDropdown()
    {
        showDropdown = !showDropdown;
    }
}
