@page "/Realizar_Orden"

<title>Realizar Orden</title>

<div class="space-y-4 w-full">
  <BodyHeader title="Realizar Orden"></BodyHeader>

  <section class="w-full flex justify-between items-center px-4">
    <h1 class="text-4xl font-bold text-[#427500]">Realizar Orden</h1>
  </section>

  //seccion de pasos
  <section></section>

  //seccion de carrito
  <section></section>

</div>

@code
{

}